$header_logo_font = 'Lobster'
$header_logo_text_color = #ffffff

.logo
    font-family: $header_logo_font, serif
    font-size: 35px
    color: $header_logo_text_color
    text-shadow: 2px 2px 2px #393939
