$header_background_color = #3f51b5
$header_text_color = #ffffff

.header
    background-color: $header_background_color

.item
    color: $header_text_color

.main-item
    color: $header_text_color
    font-size: 22pt
