.sortings_list
    list-style-type: none
    margin-left: 5px
    padding-left: 5px
    cursor: pointer

.filter_list
    list-style-type: none
    margin-left: 5px
    padding-left: 5px
    cursor: pointer
