$post_list_item_background_color = #fff

.post_list_item
    background-color: $post_list_item_background_color
    margin-bottom: 20px
    border: 1px
    box-shadow: 0 2px 2px #363535

.post_list_item_title
    padding-left: 30px

.post_list_item_preview
    padding-left: 20px

.post_list_item_footer
    padding-top: 20px
    padding-bottom: 10px

.publication_date
    margin-top: 10px
